<nav th:fragment="header"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     xmlns:th="http://www.thymeleaf.org"
     class="bg-white border-gray-200 px-2 md:px-4 py-2.5">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="../path/to/flowbite/dist/flowbite.js"></script>
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="#" class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap">МПТ</span>
        </a>
        <div class="flex items-center md:order-2">
            <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
<!--                <button type="submit" sec:authorize="!isAuthenticated()" href="/login"-->
<!--                        class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 focus:outline-none">-->
<!--                    Login-->
<!--                </button>-->

                <!-- Modal toggle -->
                <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 focus:outline-none" type="button">
                    Авторизация
                </button>

                <!-- Main modal -->
                <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                    <div class="relative w-full h-full max-w-md md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="px-6 py-6 lg:px-8">
                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Авторизация</h3>
                                <form class="space-y-6" th:action="@{/login}" method="post">
                                    <h5 th:if="${param.error}" class="text-xl font-medium text-gray-900 dark:text-red">Неверный логин или
                                        пароль</h5>
                                    <div>
                                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваш логин</label>
                                        <input name="username" id="email"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                               placeholder="name@company.com" required>
                                    </div>
                                    <div>
                                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваш
                                            пароль</label>
                                        <input type="password" name="password" id="password" placeholder="••••••••"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                               required>
                                    </div>
                                    <a href="/">
                                        <button type="submit"
                                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                            Войти в ваш аккаунт
                                        </button>
                                    </a>
                                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                                        Не зарегистрированы? <a data-modal-toggle="registration-modal" data-modal-hide="authentication-modal" class="text-blue-700 hover:underline dark:text-blue-500">Создать
                                        аккаунт</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <a href="/registration"-->
<!--                   class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2  focus:outline-none">Sign-->
<!--                    up</a>-->

                <button data-modal-target="registration-modal" data-modal-toggle="registration-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2  focus:outline-none" type="button">
                    Регистрация
                </button>

                <div id="registration-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                    <div class="relative w-full h-full max-w-md md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="registration-modal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="px-6 py-6 lg:px-8">
                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Регистрация</h3>
                                <form class="space-y-6" th:action="@{/registration}" method="post">
                                    <h5 th:if="${#messages}" class="text-xl font-medium text-gray-900 dark:text-red"><p th:text="${message}"></p></h5>
                                    <div>
                                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваш логин</label>
                                        <input name="username"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                               placeholder="name@company.com" required>
                                    </div>
                                    <div>
                                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваш
                                            пароль</label>
                                        <input type="password" name="password" placeholder="••••••••"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                               required>
                                    </div>
                                    <a href="/">
                                        <button type="submit"
                                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                            Создать аккаунт
                                        </button>
                                    </a>
                                    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                                        Уже зарегистрированы? <a data-modal-toggle="authentication-modal" data-modal-hide="registration-modal" class="text-blue-700 hover:underline dark:text-blue-500">авторизироваться</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" href="/login"
                        class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 focus:outline-none">
                    Выйти
                </button>
            </form>

            <button data-collapse-toggle="mega-menu-icons" type="button"
                    class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    aria-controls="mega-menu-icons" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div id="mega-menu-icons" class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 text-sm font-medium md:flex-row md:space-x-8 md:mt-0">
                <li>
                    <a href="/"
                       class="block py-2 pr-4 pl-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0"
                       aria-current="page">Главная</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','HR')" href="/user"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Пользователи</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER', 'DEVLEAD','DEVOWN')" href="/team"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Команды</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','DEV','DEVLEAD','DEVOWN')" href="/project"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Проекты</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','PRODUCT')" href="/sales"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Продажи</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','PRODUCT')" href="/products"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Услуги</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','PRODUCT')" href="/types"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Категории</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('USER','PRODUCT')" href="/client"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Клиенты</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" href="/dump"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Дамп</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--<nav th:fragment="header"-->
<!--     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
<!--     xmlns:th="http://www.thymeleaf.org"-->
<!--     class="px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">-->
<!--    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>-->
<!--    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"/>-->
<!--    <link rel="stylesheet" href="/css/main.css"/>-->
<!--    <script src="../path/to/flowbite/dist/flowbite.js"></script>-->
<!--    <div class="container flex flex-wrap items-center justify-between mx-auto">-->
<!--        <a href="/" class="flex items-center">-->
<!--            <span class="self-center text-xl font-semibold whitespace-nowrap">МПТ</span>-->
<!--        </a>-->
<!--        <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">-->
<!--            <button type="submit" sec:authorize="!isAuthenticated()" href="/login"-->
<!--                    class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 focus:outline-none">-->
<!--                Login-->
<!--            </button>-->
<!--            <a href="/registration"-->
<!--               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2  focus:outline-none">Sign-->
<!--                up</a>-->
<!--        </form>-->
<!--        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">-->
<!--            <button type="submit" href="/login"-->
<!--                    class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 focus:outline-none">-->
<!--                Выйти-->
<!--            </button>-->
<!--        </form>-->
<!--        <button data-collapse-toggle="navbar-dropdown" type="button"-->
<!--                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"-->
<!--                aria-controls="navbar-dropdown" aria-expanded="false">-->
<!--            <span class="sr-only">Open main menu</span>-->
<!--            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"-->
<!--                 xmlns="http://www.w3.org/2000/svg">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"-->
<!--                      clip-rule="evenodd"></path>-->
<!--            </svg>-->
<!--        </button>-->
<!--        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">-->
<!--            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">-->
<!--                <li>-->
<!--                    <a href="/"-->
<!--                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent"-->
<!--                       aria-current="page">Главная</a>-->
<!--                </li>-->
<!--                <li sec:authorize="hasAnyAuthority('SALER', 'USER')">-->
<!--                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"-->
<!--                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">-->
<!--                        Продажи-->
<!--                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"-->
<!--                             xmlns="http://www.w3.org/2000/svg">-->
<!--                            <path fill-rule="evenodd"-->
<!--                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"-->
<!--                                  clip-rule="evenodd"></path>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                    &lt;!&ndash; Dropdown menu &ndash;&gt;-->
<!--                    <div id="dropdownNavbar"-->
<!--                         class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded shadow w-44">-->
<!--                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">-->
<!--                            <li>-->
<!--                                <a href="/client"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100">Клиенты</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="/types"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100">Категории</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="/products"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100">Услуги</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="/sales"-->
<!--                                   class="block px-4 py-2 hover:bg-gray-100">Продажи</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li sec:authorize="hasAnyAuthority('USER')">-->
<!--                    <a href="/project"-->
<!--                       class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Проекты</a>-->
<!--                </li>-->
<!--                <li sec:authorize="hasAnyAuthority('USER')">-->
<!--                    <a href="/team"-->
<!--                       class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Команды</a>-->
<!--                </li>-->
<!--                <li sec:authorize="hasAnyAuthority('USER')">-->
<!--                    <a href="/user"-->
<!--                       class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Пользователи</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->