<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить команду</title>
</head>
<body>
<div th:insert="header">...</div>
<form th:action="${'/team/add'}" method="post" th:object="${team}">
    <div style="color: red" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></div>

    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Информация о команде</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Название команды</dt>
                    <input th:field="*{teamName}" type="text" autocomplete="none" placeholder="Введите логин"
                           required
                           class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Члены команды</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <button id="dropdownBgHoverButton" data-dropdown-toggle="dropdownBgHover"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">Выбрать участников
                            <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>

                        <!-- Dropdown menu -->
                        <div id="dropdownBgHover" class="hidden z-10 w-40 bg-white rounded shadow">
                            <div class="py-3 px-4 text-sm text-gray-900 dark:text-white">
                                <div class="font-medium truncate">Список участников</div>
                            </div>
                            <ul class="p-3 space-y-1 text-sm text-gray-700"
                                aria-labelledby="dropdownBgHoverButton">
                                <li th:each="user : ${users}">
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <div class="flex items-center h-5">
                                            <input th:name="${'users[]'}" th:value="${user.id}"
                                                   th:checked="${team.id!=null && #lists.contains(team.users, user)}"
                                                   id="checkbox-item-4" type="checkbox"
                                                   class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        </div>
                                        <div class="ml-2 text-sm">
                                            <label for="checkbox-item-4"
                                                   class="font-medium text-gray-900 dark:text-gray-300">
                                                <div th:text="${user.username}"></div>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Имя</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2">Прикрепить к проекту</label>
                            <div>
                                <select th:field="*{projects}">
                                    <option th:each="project : ${projects}"
                                            th:value="${project.id}"
                                            th:text="${project.projectName}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 flex space-x-12">
                        <button type="submit"
                                class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Добавить
                        </button>
                        </span>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"></dd>
                </div>
            </dl>
        </div>
    </div>
</form>
</body>
</html>